.container {
    padding: 20px !important;
}

.card {
    width: 100% !important;
}

.btn {
    margin: 10px !important;
}

.hidden {
    display: none;
}

.alternativas {
    list-style-type: none;
}

.errors {
    font-size: 12px;
    color: rgba(255, 0, 0, 0.938);
}

.input-questao {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: lightgray;
  margin: 20px 10px;
  padding: 10px;
}

.readonly {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}
