.container {
    padding: 20px !important;
}

.card {
    width: 100% !important;
}

.btn {
    margin: 10px !important;
}

.hidden {
    display: none;
}

.alternativas {
    list-style-type: none;
}
