.result-resume {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.card-body h3 {
    text-align: center;
}

.opt-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.opt-list li {
    margin: 20px 0;
}