.result-resume {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.opt-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.opt-list li {
    margin: 20px 0;
}

.question {
    display: flex;
}

.card-body-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}