.card {
    margin-bottom: 30px !important;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.inactive {
    background: rgba(255, 213, 213, 0.815);
}

.question-header {
    padding: 10px;
}

.question-header .row {
    display: flex;
    justify-content: space-between;
    margin: 0 1px;
}

.question-header .row:first-child {
    margin: 0 9px;
}

.header {
    padding: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.search-row .label {
    margin: 15px !important
}

.submit-btn {
}

.acoes-btn {
    margin: 0 5px 0 5px;       
}

.opt-list {
    display: flex;
    justify-content: space-between;
}

.btn-edit {
    padding: 8px 15px;
}

table.dataTable.no-footer {
    border: none !important;
}

table.dataTable thead th, table.dataTable thead td {
    border: none !important;
}