.dash-cards {
    border: 1px solid #BBB; 
    border-radius: 4px;
    margin: 20px 10px;
    padding: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.list-label {
    float: left;
}

.list-content {
    float: right;
}

.dash-cards div h1 {
    text-align: center;
}

.info {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    background: rgba(212, 212, 212, 0.554);
    display: flex;
    justify-content: space-between;
}

.info div {

}

.info p {
    line-height: 10px;
}

.setores-list {
    margin: 0 !important;
    padding: 0 !important;
}

.setores-list li {
    list-style: none;
}