.min{
    width:1%;
    white-space: nowrap;
}

div.error {
    color: red;
    font-weight: bold;
    font-size:small;
}

.lista-ficha li{
    list-style-type: none !important;
} 

.titulo_cargo{
    font-weight: 500;
}