.content {
    background: rgba(238, 238, 238, 0.685);
    height: 100vh;
    padding: 75px;
}

.explanation {
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 0 10px rgb(230, 230, 230);
    border-radius: 5px;
    background: white;
    text-align: center;
}

.form {
    box-shadow: 0 0 5px rgb(230, 230, 230);
    padding: 20px;
    text-align: left;
}

.submit-btn {
    margin-top: 10px;
}