.min{
    width:1%;
    white-space: nowrap;
}

div.error, .errors {
    color: red;
    font-weight: bold;
    font-size:small;
}

.lista-ficha li{
    list-style-type: none !important;
} 

.titulo_cargo{
    font-weight: 500;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Procurar";
}

.required-symbol{
    color: red;
}

.imprimir-button{
    position: absolute;
    top:6px;
    right:6px;
}

@media print {
    @page { margin: 0; }
    body { margin: 1.6cm; }
}

.bottom-center-absolute{
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}