.table-inactive {
    background: rgba(255, 213, 213, 0.815) !important;
}

.card-header {
    padding: 10px;
}

.header {
    padding: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.search-row .label {
    margin: 15px !important
}

.submit-btn {
}

.acoes {
    display: flex;
    justify-content: center;
}

.acoes-btn {
    margin: 0 5px 0 5px;
}

#AvaliacaoTable {
    width: 100%;
    margin: 10px 0 0 -10px;
}

table.dataTable thead th {
    border-bottom: none !important;
}

table.dataTable.no-footer {
    border-top: none !important;
    border-bottom: 1px solid lightgray !important;
}